# dependencies
node_modules/
package-lock.json

# test results
test-results/
/screenshots/
/videos/

# playwright
.auth/
/test-results/
/playwright-report/

# environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
